body{
    font-family: 'Roboto', sans-serif;
}
*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}



.quiz-container{
    
}
.list-quiz-right {
    width: 60%;
}
.list-quiz-left {
    display: flex;
    width: 40%;
}
.quiz-drag-area{
    border-right: 2px solid #165769;
}
.quiz-container h4{
    font-size: 30px;
    padding: 20px;
}
.drag-area-left,
.drag-area-right {
    display: inline-block;
    width: 100%;
    max-width: 50%;
}
.quiz-drag-area h6{
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 10px;
}
.quiz-drag-area-box {
    display: flex;
    border: 2px solid #165769;
    border-radius: 2px;
    margin: 15px;
}
.quiz-drag-area .list-group .list-group-item {
    position: relative;
    display: block;
    background-color: #fff;
    margin-bottom: 10px;
}

.quiz-drag-area .list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
    padding: 20px;
    min-height: 150px;
    height: 100%;
}

.quiz-drag-area .list-group .list-group-item a {
    display: inline-block;
    width: 100%;
    padding: 15px 25px;
    border: 2px solid #e1e9ec;
    color: #165769;
    text-decoration: none;
    border-radius: 2px;
    transition: 0.3s all linear;
    text-align: center;
    background-color: #e1e9ec;
    font-size: 14px;
}

.quiz-drag-area .list-group .list-group-item a:hover {
    background: #165769;
    color: #fff;
    border: 2px solid #165769;
}
.quiz-drag-area .list-group.list-group-second .list-group-item a{
    background-color: #165769;
    color: #fff;
    border-color: #165769;
}


.arrow-box img{
    max-width: 30px;
}
.arrow-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    height: 100%;
}
.arrow-box i{
    font-size: 30px;

}
.quiz-area-btn{
    padding: 15px;
    text-align: right;
}
.quiz-btn {
    background-color: #165769;
    color: #fff;
    padding: 19px 30px;
    width: 100%;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    max-width: 200px;
    cursor: pointer;
}
.quiz-preview-area{
    flex: 1;
    border-right: none;
}
.quiz-preview-container{
    max-height: 700px;
    overflow-x: hidden;
}
.quiz-list-box{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.quiz-radio-box{
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}
.quiz-radio-box .list-radio{
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.quiz-radio-box .list-lable{
    display: inline-block;
    width: 100%;
    cursor: pointer;
    transition: 0.3s all linear;
    border: 1px solid #e1e9ec;
    box-shadow: 0px 0px 5px -4px #165769;
    border-radius: 2px;
    height: 100%;
}
.quiz-radio-box .list-radio:checked + .list-lable{
    background: #e1e9ec;
}
.quiz-radio-box:hover .list-lable{
    
    background: #e1e9ec;
}
.list-img{
    display: inline-flex;
    width: 100%;
    min-height: 150px;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
}
.list-img img{
    max-width: 100%;
}
.img-list-name {
    display: flex;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    align-items: center;
}
.radio-circle {
    position: relative;
    width: 22px;
    height: 22px;
    display: inline-block;
}
.radio-circle:before {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    border: 2px solid #b2cdd7;
    border-radius: 50%;
}
.radio-circle:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid #b2cdd7;
    border-radius: 50%;
    background-color: #fff;
    top: 5px;
    left: 5px;
}
.radio-list-name {
    margin-left: 10px;
    padding: 0px 3px;
}

.quiz-radio-box .list-radio:checked + .list-lable .radio-circle:after{
    background-color: #165769;
    border: 2px solid #165769;
}

.quiz-radio-box .list-radio:checked + .list-lable .radio-circle:before{
    border: 2px solid #165769;
}

/*  Welcome to Quiz */
.quiz-drag-area-box .quiz-drag-area{
	max-height: 600px;
	overflow-y: auto;
}
.quiz-drag-area-box .list-quiz-right {
	max-height: 600px;
	overflow-y: auto;
}
.list-quiz-left .quiz-drag-area:nth-child(2) {
	min-width: 100px;
}

@media (max-width: 1599px){
    
    .list-quiz-left{
        width: 50%;
    }
    .list-quiz-right{
        width: 50%;
    }
    
}

@media (max-width: 1199px){
    .quiz-radio-box{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    
}


@media (max-width: 991px){
    .quiz-radio-box{
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .quiz-drag-area-box{
        flex-direction: column;
    }
    .list-quiz-left,
    .list-quiz-right{
        width: 100%;
    }
    .list-quiz-left{
        border-bottom: 2px solid #165769;
    }
    .quiz-drag-area:last-child{
        border-right: none;
    }
}


@media (max-width: 767px){
    .quiz-radio-box{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}


@media (max-width: 575px){
    .arrow-box {
        padding: 10px;
    }
    .arrow-box img {
        max-width: 15px;
    }
    .quiz-drag-area .list-group{
        padding: 10px;
    }
    .quiz-drag-area .list-group .list-group-item a{
        padding: 15px 5px;
        font-size: 14px;
    }
    .quiz-btn {
        max-width: 100%;
    }
}


@media (max-width: 479px){
    .quiz-radio-box{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 350px){
    
    .arrow-box {
        padding-top: 10px;
    }
    .quiz-drag-area{
        border-right: none;
        border-bottom: 2px solid #165769;
    }
    .quiz-drag-area:last-child{
        border-bottom: none;
    }
    .list-quiz-left{
        flex-direction: column;
    }
    .drag-area-left, .drag-area-right{
        max-width: 100%;
    }
    .arrow-box img{
        transform: rotate(90deg);
    }
}


.flex-row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.felx-half-col{
	max-width:50%;
	flex:0 0 50%;
	-ms-flex: 0 0 50%;
}